#outer-login-container {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#login-container {
    background-color: #fff;
    width: 80%;
    text-align: center;
    border: 2px solid #00b300;
    border-radius: 5px;
    padding: 25px;
}

#login-container div {
    margin: 0px 0px 10px;
}